<table class="chess-board">
			<tbody>
				<tr>
					<th></th>
					<th>a</th>
					<th>b</th>
					<th>c</th>
					<th>d</th>
					<th>e</th>
					<th>f</th>
					<th>g</th>
					<th>h</th>
				</tr>
					{% for i in range (0, len) %}
					{% if i%8 == 0 %}
					<tr>
					<th> {{ (8 - i/8)|int }}</th>
					{% endif %}
							{% if board[i].figure != 'None' %}
						    <td figure="{{board[i].figure}}" figure_col="{{board[i].color}}" class={{board[i].square_color}} id={{board[i].position}} onclick="pickSquare(this)">&{{board[i].code}};</td>
							{% endif %}
							{% if board[i].figure == 'None' %}
						    <td figure="{{board[i].figure}}" figure_col="{{board[i].color}}" class={{board[i].square_color}} id={{board[i].position}} onclick="pickSquare(this)"></td>
							{% endif %}
					{% if (i+1)%8 == 0 %}
					</tr>
					{% endif %}
					{% endfor %}
			</tbody>
		</table>
