<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<style>
			.chess-board { border-spacing: 0; border-collapse: collapse;}
			.chess-board th { padding: .5em; }
			.chess-board td { border: 1px solid; width: 40px; height: 40px; font-size: 30px; text-align: center;}
			.chess-board .white { background: #eee; cursor: pointer;}
			.chess-board .black { background: #a40f08; cursor: pointer;}
		</style>
	</head>
	<body>
		<table class="chess-board">
			<tbody>
				<tr>
					<th></th>
					<th>a</th>
					<th>b</th>
					<th>c</th>
					<th>d</th>
					<th>e</th>
					<th>f</th>
					<th>g</th>
					<th>h</th>
				</tr>
					{% for i in range (0, len) %}
					{% if i%8 == 0 %}
					<tr>
					<th> {{ (8 - i/8)|int }}</th>
					{% endif %}
							{% if board[i].figure != 'None' %}
						    <td class={{board[i].square_color}} id={{board[i].position}} onclick="pickSquare(this)">&{{board[i].code}};</td>
							{% endif %}
							{% if board[i].figure == 'None' %}
						    <td class={{board[i].square_color}} id={{board[i].position}} onclick="pickSquare(this)"></td>
							{% endif %}
					{% if (i+1)%8 == 0 %}
					</tr>
					{% endif %}
					{% endfor %}
			</tbody>
		</table>
</div>
</br>
<script type="text/javascript" src="{{ url_for('static', filename='chess.js') }}"></script>
	<div class="message">{{ message }}</div>

	<script type=text/javascript src="{{ url_for('static', filename='chess.js') }}">
	let game_over = 'aaaa'
	</script>
</body>
</html>
